@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.search-bar {
  opacity: 0;
  padding-right: 8px;
  font-size: medium;
  border: none;
  outline: none;
  width: 45px;
  transition: width 0.3s ease;
  cursor: pointer;
}

.search-bar.focused {
  opacity: 1;
  width: 160px;
  cursor: text;
  margin-right: 5px;
}

.search-bar.focused::placeholder {
  color: #393e5b;
}

.filter-arrow-icon {
  transition: transform 0.2s ease-out;
}

.filter-arrow-icon.expanded {
  transform: rotate(180deg);
}

.MuiTableRow-root {
  border-bottom: 2px solid #838fc9;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: rgba(233, 228, 228, 0.507);
  background-clip: content-box;
}

body::-webkit-scrollbar-track {
  background-color: rgba(54, 60, 70, 0.8);
}

video::-webkit-media-controls-mute-button,
video::-moz-mute-unmute-button {
   display: none;
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 144.78px)
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent
  }

  .scrolledY {
    @apply -translate-y-full
  }

  .scrolled {
    @apply fixed transition-transform duration-500 ease-out before:content-[''] before:absolute before:-z-10 before:left-0 before:w-full before:h-full md:before:backdrop-blur-xl md:before:bg-slate-800/40 text-gray-300 translate-y-0
  }
}